<h1>Babysitter#index</h1>
<p>Find me in app/views/babysitter/index.html.erb</p>

<%= react_component('BabysitterUser', { requestedUserId: @initial_user_id, data: @initial_user_data }, { prerender: true }) %>
